<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">		
		<editor
			name="%Bower_Editor.name"
			icon="$nl$/icons/full/obj16/bower.png"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.json.bower.ui.BowerEditor">
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.json.bower.core.bowersource" />
		</editor>		
		<editor
			name="%Bowerrc_Editor.name"
			icon="$nl$/icons/full/obj16/bower.png"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.json.bower.ui.BowerrcEditor">
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.json.bower.core.bowerrcsource" />
		</editor>				
	</extension>
   
</plugin>
